hr{
    margin-right: 90%;
}
#taikhoan:focus{
    box-shadow: 0px 0px 1px 2px orangered;
}
#taikhoan{
    
    margin: 3px;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px blue;
    color: orangered;
    display: block; 
    outline: none;
}
input[type=text]{
    width: 100px;
    transition: .50s ease-in-out;
}
input[type=text]:focus{
    width: 250px;
}
input[type=password]{
    width: 100px;
    transition: .50s ease-in-out;
}
input[type=password]:focus{
    width: 250px;
}
